/* fonts from google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html{
    scroll-behavior: smooth;
}

html body{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(to bottom right, #1e120b, #4b2e20, #7e4a35);
}

/* Navigation bar Start */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#2b1b12;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

/*Toggle section*/

.toggle-btn {
    display: none;
}
.toggle-btn img{
    width: 25%;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li a{
    font-family:'Roboto', sans-serif;
    height: 40px;
    line-height: 45px;
    margin: 3px;
    padding: 0px 15px;
    font-size: 18px;
    text-transform: uppercase;
    color: #f5f5dc;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 2px;
    display: flex;
}

nav ul li a:hover{
    box-shadow: 0 4px 8px rgba(126, 74, 53, 0.5);  /* soft cocoa shadow */
    border-bottom: 2px solid #e0c097;  /* soft gold */
    transition: all 0.3s ease;
    text-shadow: 0 0 5px rgba(224, 192, 151, 0.6);  /* subtle gold glow */
}

/*
.active{
    box-shadow: 0 4px 8px rgba(126, 74, 53, 0.5);  
    border-bottom: 2px solid #e0c097;  
    transition: all 0.3s ease;
    text-shadow: 0 0 5px rgba(224, 192, 151, 0.6);  
}
*/

/* Navigation bar End */


/* Content Start*/

/*Hero section: image and Intro start*/
#hero-section{
    margin-top: 100px;
    width: 100%;
    min-height: 600px;
    background-image: url('image/background-image.jpg');
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: bottom left;
    display: flex;
    align-items: center;
    justify-content:flex-end; /* send text to right */
    padding: 60px 80px;
    box-sizing: border-box;
}

#hero-section-image {
    display: none;
}

#hero-section-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
}

#hero-section-heading{
    width: 100%;
    max-width: 900px;
    color: #f5f5dc;
    text-align: left;
    padding-right: 100px;
}

#hero-section-heading h2{
    font-size: 70px;
    margin: 0;
    letter-spacing: 3px;
    color: #f5f5dc;
}

#hero-section-heading h2 span{
    color: #e0c097;
    font-weight: bold;
}

#hero-section-heading h3{
    text-decoration: none;
    color: #f5f5dc;
    font-size: 30px;
}

#hero-section-heading p{
    color: #f5f5dc;
    font-size: 18px;
}

.custom-btn{
    width: 120px;
    height: 35px;
    display: flex;
    background-color: #e0c097;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(126, 74, 53, 0.5);
    border-radius: 20px;
    color: #4e5145;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    font-weight: bold;
    cursor: pointer;
}

.custom-btn:hover{
    background-color:#eeeecc ;
    transform: scale(1.03);
    box-shadow: 12px 12px 16px rgba(160, 100, 60, 0.6);
    transition: 0.3s ease;
}
/*Hero section: image and Intro End*/

/*About section start*/

#about-section{
    width: 100%;
    background-image: linear-gradient(to bottom, #2b1b12, #3f2a1f, #5c3e30);
    display: flex;
    box-sizing: border-box;
    padding: 60px 80px;
    box-sizing: border-box;
    justify-content: space-between;
    position: relative;
    text-align: left;
}

/*
#about-image img{
    width: 600px;
    box-shadow: 0 4px 8px rgba(126, 74, 53, 0.5);
}
*/
#about-text{
    width: 95%;
    color: #f5f5dc;    
}

#about-text h2{
    font-size: 70px;
    font-weight: bold;
}
#about-text h2 span{
    color: #e0c097;
}

#about-text h3{
    font-size: 35px;
    color: #e0c097;
}

#about-text p{
    font-size: 18px;
}

/*About section End*/

/* Project Section Start */

#project-section{
    width: 100%;
    padding: 60px 80px;
    background-image: linear-gradient(to top right, #3f2a1f, #6b4636, #8e5c47);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#project-heading h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #e0c097;
}

#project-heading p{
    text-align: center;
    color: #f5f5dc;
    font-size: 18px;
}

#project-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 12px;
    width: 100%;
    max-width: 1100px;
    align-items: center;
}

.project-box{
    width: 330px;
    height: 570px;
    background-color: #e0c097;
    margin: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 8px 8px 8px rgba(160, 100, 60, 0.6);
}

.project-box:hover {
    transform: scale(1.03);
    box-shadow: 12px 12px 16px rgba(160, 100, 60, 0.6);
    transition: 0.3s ease;
}

.project-img{
    width: 100%;
    height: 45%;
}

.project-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    border: 2px solid #f5f5dc;;
}

.project-details{
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to top right, #3f2a1f, #6b4636, #8e5c47);
}

.project-details h4{
    font-size: 17.5px;
    color: #e0c097;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.project-details p{
    text-align: center;
    color: #f5f5dc;
    font-size: 16px;
}

.project-button{
    display: flex;
    gap: 12px;
    margin-top: 10px;
    cursor: pointer;
}
/* Project Section End */


/* Internship section start */

#internship-section {
    width: 100%;
    padding: 60px 80px;
    background-image: linear-gradient(to top right, #3f2a1f, #5c3e30, #7e5a47);
    color: #f5f5dc;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#internship-heading h1 {
    font-size: 36px;
    font-weight: bold;
    color: #e0c097;
    margin-bottom: 10px;
    text-align: center;
}

#internship-heading p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;
    color: #f5f5dc;
}

.internship-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    width: 100%;
    max-width: 1100px;
}

.internship-box {
    background-color: #2b1b12;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.internship-box:hover {
    transform: translateY(-8px);
}

/*.internship-logo {
    display: flex;
    justify-content: center;  
    margin-bottom: 10px;
}

.internship-logo img {
    width: 60px;
    height: auto;
}*/
.internship-box h3 {
    color: #e0c097;
    font-size: 22px;
    margin-bottom: 10px;
}

.internship-box p {
    font-size: 16px;
    line-height: 1.6;
    color: #f5f5dc;
}

/* Internship section End */


/* Skill Section start */

#skills-section {
    width: 100%;
    padding: 60px 80px;
    background-image: linear-gradient(to top right, #3f2a1f, #5c3e30, #7e5a47);
    color: #f5f5dc;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#skills-heading h1 {
    font-size: 36px;
    font-weight: bold;
    color: #e0c097;
    margin-bottom: 10px;
    text-align: center;
}

#skills-heading p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;
    color: #f5f5dc;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    width: 100%;
    max-width: 1100px;
}

.skill-category {
    background-color: #2b1b12;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.skill-category:hover {
    transform: translateY(-8px);
}

.skill-category h3 {
    color: #e0c097;
    font-size: 22px;
    margin-bottom: 15px;
}

.skill-category h3 i {
    margin-right: 8px;
}

.skill-category ul {
    list-style: none;
    padding-left: 0;
}

.skill-category ul li {
    padding: 5px 0px;
    font-size: 17px;
    color: #f5f5dc;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Skill Section End */


/* Certificate section start */

#certificate-section {
    width: 100%;
    padding: 60px 80px;
    background-image: linear-gradient(to top right, #3f2a1f, #5c3e30, #7e5a47);
    color: #f5f5dc;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#certificate-heading h1 {
    font-size: 36px;
    font-weight: bold;
    color: #e0c097;
    margin-bottom: 10px;
    text-align: center;
}

#certificate-heading p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;
    color: #f5f5dc;
}

.certificate-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    width: 100%;
    max-width: 1100px;
}

.certificate-box {
    background-color: #2b1b12;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    text-align: center;
}

.certificate-box:hover {
    transform: translateY(-8px);
}

.certificate-logo img {
    width: 60px;
    margin-bottom: 15px;
}

.certificate-box h3 {
    color: #e0c097;
    font-size: 22px;
    margin-bottom: 10px;
}

.certificate-box p {
    font-size: 16px;
    color: #f5f5dc;
    margin-bottom: 15px;
}

.certificate-button{
    display: flex;
    gap: 12px;
    margin-top: 10px;
    cursor: pointer;
    justify-content: center;
}

/* Certificate section End */

/*Content End*/


/* Contact Section Start */

#contact-section{
    width: 100%;
    background-image: linear-gradient(to top right, #4a372e, #71594a, #a38a78);
    display: flex;
    padding: 60px 80px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contact-heading h1{
    text-align: center;
    font-size: 40px; 
    font-weight: bold; 
    color:#e0c097;
    margin: 0;
}

#contact-heading p{
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

#contact-section form{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input, textarea{
    outline:none;
    border: none;

}

#contact-section form input, #contact-section form textarea{
    width: 100%; 
    height: 35px;
    margin: 5px 0px;
    padding: 10px;
    border-radius: 15px; 
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6); 
    transition: box-shadow 0.3s ease;
}

input:focus, textarea:focus {
    box-shadow: 0 0 6px #a38a78;
}

#contact-section form textarea{
    height: 150px;
}

#contact-section form input[type="submit"]{
    width: 180px;
    height: 45px;
    background-color: #6b4636;
    text-transform: uppercase;
    color:#ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

#contact-section form input[type="submit"]:hover {
    background-color: #a06951;
    box-shadow: 0 0 8px #836651;
} 
    /* Social icon */
.contact-social {
    margin-top: 20px;
    display: flex;
    gap: 25px;
    justify-content: center;
}

.contact-social a {
    font-size: 28px;
    color: #ffffff;
    transition: transform 0.3s ease, color 0.3s ease;
}

.contact-social a:hover {
    transform: scale(1.2);
    color: #e0c097; 
}

.contact-info {
    margin-top: 25px;
    color: #ffffff;
    text-align: center;
    font-size: 17px;
    line-height: 1.6;
}

.contact-info i {
    margin-right: 10px;
    color: #e0c097;
}

.contact-info a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-info a:hover {
    color: #e0c097;
}
    /* social icon*/

/*Contact Section End*/


/* FULL MOBILE RESPONSIVE MEDIA QUERY FOR PORTFOLIO */

@media screen and (max-width: 768px) {
  /* Navigation Bar */
    nav {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 20px;
    }

    .toggle-btn {
        display: block;
        cursor: pointer;
    }

    .toggle-btn img {
        width: 35px;
        height: auto;
        margin: 12px;
    }

    .toggle-btn-visible {display: block;}
    .toggle-target-hidden {display: none;}
    .toggle-target-expanded {display: block;}
    .toggle-btn{
        text-align: right;
    }

    nav ul.menu {
        flex-direction: column;
        align-items: flex-start;
        background-color: #2b1b12;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 20px;
        gap: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.6);
    }

    nav ul.menu li {
        width: 100%;
    }

    nav ul.menu li a {
        width: 100%;
        padding: 12px;
        font-size: 16px;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }

    nav ul li a:hover{
        box-shadow: 0 4px 8px rgba(126, 74, 53, 0.5);  /* soft cocoa shadow */
        border-bottom: 2px solid #e0c097;  /* soft gold */
        transition: all 0.3s ease;
        text-shadow: 0 0 5px rgba(224, 192, 151, 0.6);  /* subtle gold glow */
    }

    /* Hero Section */
    #hero-section {
        flex-direction: column;
        align-items: center;
        background-size: 280px;
        background-position: top center;
        padding: 30px 20px;
    }

    #hero-section-heading {
        padding-right: 0;
        margin-top: 240px; /* for text margin-top */
        text-align: left;
    }

    #hero-section-heading h2 {
        font-size: 40px;
    }

    #hero-section-heading h3 {
        font-size: 24px;
    }

    #hero-section-heading p {
        font-size: 16px;
    }

    .custom-btn:hover{
        background-color:#eeeecc ;
        transform: scale(1.03);
        box-shadow: 12px 12px 16px rgba(160, 100, 60, 0.6);
        transition: 0.3s ease;
    }

    /* About Section */
    #about-section {
        flex-direction: column;
        padding: 40px 20px;
    }

    #about-text h2 {
        font-size: 36px;
    }

    #about-text h3 {
        font-size: 22px;
    }

    #about-text p {
        font-size: 16px;
    }

    /* Project Section */
    #project-section {
        padding: 40px 20px;
    }

    #project-heading h1 {
        font-size: 28px;
    }

    #project-heading p {
        font-size: 16px;
    }

    .project-box {
        width: 300px;
        height: auto;
    }

    .project-box:hover {
        transform: scale(1.03);
        box-shadow: 12px 12px 16px rgba(160, 100, 60, 0.6);
        transition: 0.3s ease;
    }

    .project-img {
        height: 200px;
    }

    .project-details p {
        font-size: 15px;
    }

    .project-button {
        flex-direction: column;
        align-items: center;
    }

    /* Internship, Skills, Certificate Sections */
    #internship-section,
    #skills-section,
    #certificate-section {
        padding: 40px 20px;
    }

    .internship-grid,
    .skills-grid,
    .certificate-grid {
        grid-template-columns: 1fr;
    }

    .internship-box,
    .skill-category,
    .certificate-box {
        padding: 20px;
    }

    .certificate-box:hover {
        transform: translateY(-8px);
    }

    .internship-box:hover  {
        transform: translateY(-8px);
    }

    .skill-category:hover  {
        transform: translateY(-8px);
    }

    #internship-heading h1,
    #skills-heading h1,
    #certificate-heading h1 {
        font-size: 28px;
    }

    #internship-heading p,
    #skills-heading p,
    #certificate-heading p {
        font-size: 16px;
    }

    /* Contact Section */
    #contact-section {
        padding: 40px 20px;
    }

    #contact-heading h1 {
        font-size: 28px;
    }

    #contact-heading p {
        font-size: 16px;
    }

    #contact-section form {
        width: 100%;
    }

    #contact-section form input,
    #contact-section form textarea {
        width: 100%;
        font-size: 15px;
    }

    #contact-section form input[type="submit"] {
        width: 100%;
    }

    .contact-social {
        flex-wrap: wrap;
        gap: 20px;
    }

    .contact-info {
        font-size: 15px;
    }
}

/* Phone + desktop site media*/

@media (hover: none) and (pointer: coarse) and (min-width: 769px) {
    #hero-section {
        flex-direction: column;
        align-items: center;
        background-image: none;
        padding: 30px 20px;
    }

    #hero-section-image {
        display: block;
        margin-bottom: 20px;
        text-align: center;
    }

    #hero-section-image img {
        width: 90%;
        max-width: 350px;
        border-radius: 12px;
    }

    #hero-section-heading {
        padding-right: 0;
        margin-top: 0;
        text-align:left;
    }
}